@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Modrnt';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Modrnt_urban-Regular_ok.ttf') format('truetype');
}

:root {
  --negro: #1D1D1D;
  --grisOscuro: #323232;
  --grisMedio: #424242;
  --grisClaro: #e6e6e6;
  --grisMuyClaro: '#e6e6e6';
  --verde: #51C546;
  --amarillo: #FFB900;
  --rojo: #F05656;
  --blanco: #FFF;
}

html,
body {
  font-family: 'Lato', sans-serif;
}

.contenedor {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

.logo {
  font-family: 'Modrnt';
  font-size: 2rem;
  animation: logo-animation 5s ease-in-out infinite;
}

.logo.inverted {
  animation: logo-animation-inverted 5s ease-in-out infinite;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@keyframes logo-animation {
  0% {
    color: var(--verde);
  }
  25% {
    color: var(--blanco);
  }
  50% {
    color: var(--blanco);
  }
  75% {
    color: var(--blanco);
  }
  100% {
    color: var(--verde);
  }
}

@keyframes logo-animation-inverted {
  0% {
    color: var(--verde);
  }
  25% {
    color: var(--negro);
  }
  50% {
    color: var(--negro);
  }
  75% {
    color: var(--negro);
  }
  100% {
    color: var(--verde);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--verde);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--grisClaro);
}